<%= render 'shared/card_name', card_name: "List articles" if request.path != root_path %>

<% if logged_in? and request.path != root_path %>
  <div class="row">
    <div class="col-md-2">
      <div class="card card-single">
        <%= link_to "Create new article", new_article_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @articles.each do |article| %>

      <%= render 'article_card', article: article %>
    <% end %>
  </div>
</div>
