<div>
  <article class="card card-single post-wrap post page">
    <div class="single-head">
      <h2 class="h1 title"><%= card_name %></h2>
    </div>
    <div class="card-header card-header-override no-image">
    </div>
  </article>
</div>