
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple CRUD articles using Ruby on Rails.</p>
  <hr class="my-4">
  <p>It still in development, not really ready for production.</p>
  <%= link_to "Alpha blog", articles_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "About", about_path, class: "btn btn-primary btn-lg" %>
</div>
