// @import "bootstrap-sprockets";
// @import "bootstrap";

$navbar-default-bg: #08088A;


.logo {
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    float: left;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height:100%;
    position:relative;
 }

 body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 1.25em;
}

.bg-transparent {
  background-color: transparent!important;
}