<h1 class="text-center">Listing all categories</h1>

<%= link_to "Create new category", new_category_path, class: "btn btn-primary mb-3" %>

<% @categories.each do |category| %>
  <div class="alert alert-secondary" role="alert">
    <%= link_to category.name, category_path(category), class: "text-dark" %>
  </div>
<% end %>
<%= will_paginate %>
