<%= render 'shared/card_name', card_name: "Category: #{@category.name}" %>


<% if logged_in? and current_user.is_admin? %>
  <%= link_to "Edit category name", edit_category_path, class: "btn btn-primary mb-3" %>
<% end %>

<% @category.articles.each do |article| %>
  <%= render 'articles/article_card', article: article %>
<% end %>

<div class="text-center">
  <%= will_paginate @category_articles %>
</div>