<%= stylesheet_link_tag "layouts/_cover" %>

<div class="cover cover-home" style="background-image: url(<%= image_path("bg-cover.jpg") %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="welcome-message">Welcome to Alpha Blog</h1>
        <p class="h4 description">Thoughts, stories and ideas.</p>
      </div>
    </div>
  </div>
</div>